.ipynb_checkpoints/SpotifySexyTime-checkpoint.ipynb
env/Lib/site-packages/*


env/Lib/site-packages/pip/__pycache__/*
env/Lib/site-packages/pip/_internal/utils/*
env/Lib/site-packages/pip/_internal/*

