.ipynb_checkpoints/SpotifySexyTime-checkpoint.ipynb
env/Lib/site-packages/*
.cache-tonyryanworldwide
__pycache__/app.cpython-38.pyc
__pycache__/config.cpython-38.pyc
__pycache__/*
env/Scripts/*
.ipynb_checkpoints/SpotifySexyTime-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
# Environments
.env
.venv
env/
venv/
ENV/
lib/

