<html>
    <head>
        <title>Spotify</title>        
    </head>
    <body>
       <div>
           <div>
           <p>
            <a  href = '{{url_for('index')}}'>Home</a>
           </p>
           

           {% for i in tracks %}

                    <p>{{i.track.name}}</p>                    
                    <!-- <span>{{i.track.href}}</span> -->
                    <!-- <a href = {{i.track.href}}>{{i.track.name}}</a> -->
                    <p>
                        <img src = {{i.track.album.images[1].url}}>
                    </p>
                    <br><br>
            {% endfor %}
            </div>
       </div>
    </body>
</html>